version: 2

common_env: &common_env
  MAVEN_OPTS: "-Xms512m -Xmx4096m"
  JVM_OPTS: "-Xms512m -Xmx496m -XX:+UseSerialGC -XX:MaxRAM=4g"

job_default: &job_defaults
  docker:
    - image: circleci/openjdk:8-jdk-node-browsers

load_m2: &load_m2
  attach_workspace:
    at: ~/.m2

save_m2: &save_m2
  persist_to_workspace:
    root: ~/.m2
    paths:
      - repository/io/atlasmap

image_upgrade: &image_upgrade
  run:
    name: Upgrade image dependencies
    command: |
      curl https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
      sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
      sudo apt-get update
      sudo apt-get -f upgrade google-chrome-stable

jobs:
  build:
    <<: *job_defaults
    environment:
      <<: *common_env
    steps:
      - <<: *image_upgrade
      - checkout
      - restore_cache:
          key: atlasmap-e2e-qe-mvn-{{ checksum "pom.xml" }}
      - <<: *load_m2
      - run:
          name: Checkout Atlasmap
          command: |
            git clone git@github.com:atlasmap/atlasmap.git
      - run:
          name: Build atlasmap runtime
          command: |
           cd atlasmap && ./mvnw clean install -DskipTests

      - run:
          name: Execute tests
          command: |
            ./mvnw clean test -Dselenide.headless=true -Dselenide.browser-size=1920x1080 -Dcucumber.options='--tags @SmokeTest'
      - run:
          name: Store Cucumber report
          when: always
          command: |
            mkdir -p ~/cucumber
            cp -r datamapper-e2e/target/surefire-reports/TEST-io.atlasmap.qe.test.atlas.CucumberTest.xml ~/cucumber/ui.cucumber
      - store_artifacts:
          path: datamapper-e2e/target/cucumber
      - <<: *save_m2
      - save_cache:
          key: atlasmap-e2e-qe-mvn-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2


